.landing-banner__container {
  height: 100vh;
  position: relative;
}

.hero-banner {
  height: 100vh;
  width: 100vw;
}
.info-card__holder {
  position: absolute;
  top: 200px;
  /* left: 22vw; */
  display: flex;
  justify-content: center;
}

/* .academics__holder {
  position: relative;
  top: -380px;
} */
.section-title {
  text-align: center;
  letter-spacing: 1px;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  margin-top: -20px;
  background-color: black;
}
.next-page-button {
  text-align: center;
  position: relative;
  bottom: 200px;
}
.engagement__holder {
  position: relative;
  /* bottom: 390px; */
}

@media (max-width: 800px) {
  .hero-banner {
    height: 100vh;
    /* width: 100vw; */
  }
  .info-card__holder {
    top: 100px;
    /* left: 5vw; */
    left: 5%;
  }
  .section-title {
    text-align: center;
    letter-spacing: 1px;
    /* font-family: "Nanum Gothic", sans-serif; */
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    /* margin-top: 0px; */
    background-color: black;
  }
}
