.awards-carousel__container {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  /* top: 50px; */
}
.awards-carousel__item {
  max-height: 400px;
  width: 90%;
}

@media (max-width: 700px) {
  .awards-carousel__container {
    width: 80vw;
    /* top: 50px; */
  }
}
