.academics-parent {
  display: flex;
  flex-direction: column;
  /* background-color: #9893da; */
  background-color: #4834d4;
  background-image: linear-gradient(315deg, #0c0c0c 0%, #4834d4 74%);

  position: relative;
  bottom: 20px;
  padding-top: 10px;
  min-height: 100vh;
}

.academics__container {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* background-color: #dee7e7; */
  /* background-color: #c8d8e4; */
  /* background-color: #a5998a; */
  /* background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); */
  /* min-height: 100vh; */
  padding-bottom: 20px;

  /* background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%); */
}

/* .academics__container {
  position: relative;
  top: 50px;
  text-align: -webkit-center;
}
.academics__card {
  font-family: "Colibri";
  border-radius: 5%;
  padding: 20px;
  color: white;
  width: 50%;
  background-color: #1b1c49;
}
.strong {
  font-weight: 800;
}

@media (max-width: 810px) {
  .academics__card {
    font-family: "Colibri";
    border-radius: 5%;
    padding: 20px;
    color: white;
    width: 90%;
    background-color: #1b1c49;
    font-size: small;
  }
} */
