.leadership__container {
  /* min-height: 100vh; */
}

.leadership__banner {
  /* background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%); */
  background-color: #00185a;
  height: 50px;
  color: white;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}
.leadership-card__holder {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

@media (max-height: 801px) {
  .leadership-card__holder {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-around;
  }
}
