.academic__container {
  /* background-color: #52ab98; */
  /* background-color: #2b6777; */
  /* background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); */

  /* background-color: #2d3436;
  background-image: linear-gradient(215deg, #2d3436 0%, #d3d3d380 74%); */

  /* background-color: #861657;
  background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%); */

  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5%;
  padding: 15px;
  margin-top: 30px;
  /* color: #2b6777; */
  /* color: #ff8552; */
  /* color: #f06543; */
  /* color: #d5a021; */
  /* color: #c8d8e4; */

  background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 27%);

  color: white;
  font-family: sans-serif;
  font-weight: 800;
  box-shadow: 2px 5px 3px 0 #0c0c0c;
}

@media (max-width: 800px) {
  .academic__container {
    height: 20vh;
    width: 40vw;
    font-size: small;
    /* contain: content; */
  }
  .academic__title {
    font-size: small;
    font-weight: 800;
    color: red;
  }
}

@media (max-width: 350px) {
  .academic__container {
    height: fit-content;
    width: 60vw;
    font-size: small;
    /* contain: content; */
  }
  .academic__title {
    font-size: small;
  }
}
