.academic-slider__container {
  /* contain: content; */
  position: relative;
  /* top: 400px; */
  align-self: center;
  width: 350px;
}
.academic-slider__background {
  background-color: #0086dc;
  color: white;
  height: 200px;
  position: relative;
  bottom: 100px;
  box-shadow: 2px 5px 3px 0 #0c0c0c;
  display: flex;
  flex-direction: column;
  border-width: thick;
}
.academic-slider__carousel {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel-indicators li {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 90%;
}
.carousel-control-next-icon {
  color: black;
}
@media (max-width: 1180px) {
  .academic-slider__container {
    /* contain: content; */
    position: relative;
    /* bottom: 100px; */
    align-self: center;
    width: 250px;
  }
  .carousel-text {
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
}

@media (width: 414px) {
  .academic-slider__carousel {
    position: relative;
    bottom: 100px;
  }
}

@media (max-height: 520px) {
  .academic-slider__background {
    background-color: #0086dc;
    color: white;
    height: 100px;
    position: relative;
    bottom: 100px;
    box-shadow: 2px 5px 3px 0 #0c0c0c;
    display: flex;
    flex-direction: column;
    border-width: thick;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .academic-slider__carousel {
      position: relative;
      bottom: 50px;
    }
    .carousel-indicators {
      display: none;
    }
  }
}
