.social-impact-footer__container {
  display: flex;
  justify-content: space-around;
}
.social-impact-footer__text {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  color: white;
  padding-top: 10px;
  height: 210px;
  background-color: #0086dc;
  box-shadow: 2px 5px 3px 0 #0c0c0c;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 400px;
}

@media (max-width: 1600px) {
  .social-impact-footer__text {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
    /* height: 110px; */
    background-color: #0086dc;
    box-shadow: 2px 5px 3px 0 #0c0c0c;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}

@media (max-width: 1220px) {
  .social-impact-footer__text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .social-impact-footer__text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .social-impact-footer__container {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .social-impact-footer__text {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    color: white;
    height: 50px;
    background-color: #0086dc;
    box-shadow: 2px 5px 3px 0 #0c0c0c;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
  }
}
/* @media (max-width: 760px) {
  .social-impact-footer__text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 15px;
  }
} */
@media (max-width: 560px) {
  /* .social-impact-footer__text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 5px;
  } */
}
/* @media (max-width: 500px) {
  .social-impact-footer__container {
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
    margin: 0;
    width: 30%;
  }
  .social-impact-footer__text {
    margin-left: 5px;
    margin-right: px;
    text-align: center;
    color: white;
    padding-top: 10px;
    height: 70px;
    background-color: #0086dc;
    box-shadow: 2px 5px 3px 0 #0c0c0c;
  }
}
@media (max-width: 400px) {
  .social-impact-footer__text {
    margin-left: 5px;
    margin-right: 0px;
    text-align: center;
    color: white;
    padding-top: 10px;
    height: 70px;
    background-color: #0086dc;
    box-shadow: 2px 5px 3px 0 #0c0c0c;
  }
} */
