.info-card__container {
  height: 400px;
  width: 800px;
  /* background-color: #1b1c49; */

  /* background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); */

  background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

  display: flex;
  z-index: 999;
}
.info-card__headshot {
  height: 400px;
}
.info-card__text-container {
  position: relative;
  align-self: center;
}

.info-card__text {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

@media (max-width: 810px) {
  .info-card__container {
    height: 200px;
    width: 300px;
    background-color: #1b1c49;
    display: flex;
    z-index: 999;
  }
  .info-card__headshot {
    height: 200px;
  }
  .info-card__text-container {
    position: relative;
    align-self: center;
    top: 10px;
    text-align: center;
  }

  .info-card__text {
    padding-left: 5px;

    color: white;
    font-size: smaller;
  }
  .card__name {
    position: relative;
    top: 10px;
  }
}
