.awards__container {
  min-height: 100vh;
}
.awards__text-carousel__container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
.awards__text {
  /* width: 600px;
  height: 400px; */
  height: 600px;
  width: 800px;
  /* color: black; */
  border: solid black;
  border-width: thin;
  /* box-shadow: 2px 5px 3px 0px #000; */
  /* background-color: chocolate; */
  background-color: white;
  color: #0077d7;
  /* font-weight: 800; */
  font-size: 20px;
}
.awards__carousel {
  /* width: 600px;
  height: 400px; */
  height: 600px;
  width: 800px;
  border: solid black;
  /* background-color: blue; */
  /* background-color: #3276d0; */
  /* box-shadow: 2px 5px 3px 0px #000; */
}
@media (max-width: 715px) {
  .awards__text-carousel__container {
    font-size: 10px;
  }
  .awards__text-carousel__container {
    flex-direction: column;
    align-items: center;
  }

  .awards__carousel {
    position: relative;
    top: 30px;
    width: auto;
    border: none;
  }
  .awards__text {
    width: 90%;
  }
  .awards__container {
    margin-bottom: 150px;
  }
}

@media (max-height: 801px) {
  .awards__text-carousel__container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
  }
}

@media (max-height: 630px) {
  .awards__text-carousel__container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
  }
  /* .awards__carousel {
    position: relative;
    bottom: 100px;
  } */
}
