.awards__container {
  min-height: 100vh;
}
.awards__text-carousel__container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
.awards__text {
  width: 600px;
  height: 400px;
  /* color: black; */
  border: solid black;
  border-width: thin;
  box-shadow: 2px 5px 3px 0px #000;
  /* background-color: chocolate; */
  background-color: #0077d7;
  color: white;
}
.awards__carousel {
  width: 600px;
  height: 400px;
  /* background-color: blue; */
}
@media (max-width: 720px) {
  .awards__text-carousel__container {
    font-size: 10px;
  }
  .awards__text-carousel__container {
    flex-direction: column;
    align-items: center;
  }
  .awards__carousel {
    position: relative;
    top: 30px;
    width: auto;
  }
  .awards__text {
    width: 300px;
  }
}
