.about__container {
  height: 500px;
  width: 100vw;
  background-color: #d7d7d7;
}
.about-text__container {
  position: relative;
  top: 200px;
  text-align: center;
}
.about-text {
  padding-right: 80px;
  padding-left: 80px;
}
