.social-impact-slider__container {
}
.social-impact-slider__carousel-holder {
  /* position: relative;
  top: 70px; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-impact-slider__carousel {
  display: flex;
  justify-content: center;
  text-align: center;
}
.social-impact-slider__image {
  height: 400px;
}

@media (max-width: 768px) {
  .social-impact-slider__image {
    height: 300px;
  }
}

@media (max-width: 510px) {
}
