.social-impact-slider__container {
  position: relative;
  bottom: 20px;
}
.social-impact-slider__carousel-holder {
  /* position: relative;
  top: 70px; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-impact-slider__carousel {
  display: flex;
  justify-content: center;
  text-align: center;
}
.social-impact-slider__image {
  height: 450px;
  position: relative;
  left: 20px;
}

@media (max-width: 770px) {
  .social-impact-slider__image {
    height: 200px;
  }
  .social-impact-slider__carousel-holder {
    /* position: relative;
    top: 70px; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    bottom: 140px;
  }
  .social-impact-slider__container {
    position: relative;
    bottom: 80px;
  }
}

@media (max-height: 805px) {
  .social-impact-slider__carousel {
    height: 400px;
    object-fit: scale-down;
  }
}
@media (max-height: 655px) {
  .social-impact-slider__carousel {
    height: 300px;
    object-fit: scale-down;
  }
}
