.leadership-outside__container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.leadership-outside__orcha-left {
  height: 350px;
  width: 350px;
  min-width: 40vw;
  margin-top: 20px;
  border: solid black;
  border-width: thin;
  /* background-color: blue; */
}
.leadership-outside__orcha-right {
  height: 350px;
  width: 350px;
  min-width: 40vw;
  margin-top: 20px;
  border: solid black;
  border-width: thin;
  display: flex;
  contain: content;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}
.leadership-outside__paper-left {
  height: 350px;
  width: 350px;
  /* margin-top: -200px; */
  border: solid black;
  border-width: thin;
  min-width: 40vw;
  /* background-color: red; */
}
.leadership-outside__paper-right {
  height: 350px;
  width: 350px;
  /* margin-top: -200px; */
  border: solid black;
  border-width: thin;
  min-width: 40vw;

  /* background-color: orange; */
}
.leadership-outside__title {
  color: white;
  background-color: blue;
  padding: 10px;
}
.leadership-outside__text {
  padding: 10px;
  font-size: small;
}
.leadership-outside__orcha-pics {
  height: 200px;
  max-width: 50%;
}
.leadership-outside__paper-pic {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.leadership-outside__kore-right {
  height: 350px;
  width: 350px;
  min-width: 40vw;

  border: solid black;
  border-width: thin;
  display: flex;
  contain: content;
  justify-content: center;
  align-items: center;
}
.leadership-outside__kore-left {
  height: 350px;
  width: 350px;
  /* margin-top: -200px; */
  border: solid black;
  border-width: thin;
  min-width: 40vw;
}
