.nav-container {
  height: 50px;
  background-color: black;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-title {
  /* color: beige; */
  color: black;
}
.nav-link-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.nav-links {
  /* color: bisque; */
  color: black;
}
.blue {
  /* background-color: #2b6777; */
  /* background-color: #09c6f9; */
  background-color: black;
  height: 70px;
  /* background-color: #1c334a; */
  width: 100% !important;
  /* background-color: #1b1c49; */
  color: black;
}
