.landing__container {
  /* min-height: 850px; */
  min-height: 100vh;
}
.line {
  border-left: 6px solid #3984cf;
  height: 570px;
  position: absolute;
  left: 90%;
  margin-left: -3px;
  top: 25%;
}
.landing__image {
  /* height: 80vh; */
  width: 500px;
  max-height: 600px;
  position: relative;
  border: solid;
  box-shadow: -3px 5px 3px 0 #0c0c0c;
  border-radius: 2%;
  top: 10px;
}
.landing__split {
  display: flex;
  justify-content: space-around;
}
.landing__left {
  width: 30%;
  padding: 20px;
}

.landing__right {
  /* background-color: red; */
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* left: 400px; */
}

.landing__right-float-right {
  position: relative;
  /* left: 177px; */
}

.landing__buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
}
.landing__btn {
  width: 250px;
  background-color: #3984cf;
  color: white;
  font-size: xx-large;
  font-weight: 600;
}

.landing__words {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: relative;
  top: 100px;
  right: 200px;
  color: #3984cf;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: red; */
}

.landing__margin {
  margin-bottom: 50px;
}

.landing_titles {
  font-size: 40px;
  font-weight: 800;
}
.landing__title-description {
  font-size: 30px;
}

@media (max-height: 801px) {
  .landing__container {
    /* min-height: 850px; */
    height: 800px;
  }
}

@media (max-width: 1760px) {
  .landing__image {
    width: auto;
    /* width: 70%; */
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    /* top: 150px; */
  }
  .landing_titles {
    font-size: 35px;
  }
  .landing__title-description {
    font-size: 25px;
  }
}
@media (max-width: 1620px) {
  .landing__words {
    right: 50px;
    top: 150px;
  }
  .landing_titles {
    font-size: 30px;
  }
  .landing__title-description {
    font-size: 20px;
  }
  .landing__buttons {
    position: absolute;
    left: 20%;
    /* width: 50%;
    left: 300px; */
  }
  .landing__btn {
    margin-left: 20px;
  }
  .line {
    border-left: 6px solid #3984cf;
    height: 530px;
    position: absolute;
    left: 96%;
    margin-left: -3px;
    top: 28%;
  }
}

@media (max-width: 1280px) {
  .landing__image {
    height: 600px;
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    top: 10px;
  }
  .landing__words {
    right: 50px;
    top: 150px;
  }
  .line {
    /* border-left: 6px solid #3984cf;
    height: 570px;
    position: absolute;
    left: 90%;
    margin-left: -3px; */
    top: 25%;
  }
}

@media (max-width: 1120px) {
  .landing__image {
    height: 550px;
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    top: 10px;
  }
  .landing__words {
    right: 50px;
    top: 150px;
  }
  .line {
    /* border-left: 6px solid #3984cf;
    height: 570px;
    position: absolute;
    left: 90%;
    margin-left: -3px; */
    top: 25%;
  }
  .landing__buttons {
    left: 20%;
  }
  .landing__btn {
    width: 200px;
    background-color: #3984cf;
    color: white;
    font-size: large;
    font-weight: 600;
  }
  .landing_titles {
    font-size: 25px;
  }
  .landing__title-description {
    font-size: 15px;
  }
}

@media (max-width: 980px) {
  .landing__container {
    min-height: 1100px;
    /* min-height: 100vh; */
  }

  .landing__split {
    flex-direction: column;
    align-items: center;
  }
  .landing__container-margin {
    bottom: 0;
  }
  .landing__image {
    /* width: 400px; */
    /* width: ; */
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    top: 50px;
    padding: 0;
  }
  .landing__split {
    display: flex;
    justify-content: space-around;
  }
  .landing__left {
    width: auto;
    padding: 0;
  }
  .landing__buttons {
    top: 70px;
    width: 100%;
    left: 0px;
  }

  .landing__words {
    right: 0px;
    text-align: center;
    margin-bottom: 120px;
  }
  .landing_titles {
    font-size: 25px;
  }
  .landing__title-description {
    font-size: 15px;
  }
  .landing__margin {
    margin-bottom: 20px;
  }
  .line {
    display: none;
  }
}

@media (max-width: 700px) {
  .landing__right {
    width: 100%;
  }
  .landing__btn {
    width: 100px;
    font-size: small;
    font-weight: 300;
    padding: 5px;
  }

  .landing_titles {
    width: 100vw;
    font-size: 20px;
  }
  .landing__title-description {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .landing__image {
    /* width: 300px; */
    height: 300px;
    width: auto;
  }
  .landing__container {
    min-height: 800px;
  }
}
@media (max-width: 350px) {
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    @media (max-width: 1122px) {
    }
  }
}
