.landing__container {
  /* min-height: 850px; */
  min-height: 100vh;
}
.landing__image {
  height: 80vh;
  position: relative;
  border: solid;
  box-shadow: -3px 5px 3px 0 #0c0c0c;
  border-radius: 2%;
  top: 10px;
}
.landing__split {
  display: flex;
  justify-content: space-around;
}
.landing__left {
  width: 30%;
  padding: 20px;
}

.landing__right {
  /* background-color: red; */
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* left: 400px; */
}

.landing__right-float-right {
  position: relative;
  /* left: 177px; */
}

.landing__buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
}
.landing__btn {
  width: 250px;
  background-color: #3984cf;
  color: white;
  font-size: xx-large;
  font-weight: 600;
}

.landing__words {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: relative;
  top: 100px;
  right: 200px;
  color: #3984cf;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: red; */
}

.landing__margin {
  margin-bottom: 50px;
}

.landing_titles {
  font-size: 40px;
  font-weight: 800;
}
.landing__title-description {
  font-size: 30px;
}

@media (max-width: 1760px) {
  .landing__image {
    width: auto;
    /* width: 70%; */
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    /* top: 150px; */
  }
  .landing_titles {
    font-size: 35px;
  }
  .landing__title-description {
    font-size: 25px;
  }
}
@media (max-width: 1620px) {
  .landing__words {
    right: 50px;
  }
  .landing_titles {
    font-size: 30px;
  }
  .landing__title-description {
    font-size: 20px;
  }
  .landing__buttons {
    width: 50%;
    left: 300px;
  }
}
@media (max-width: 1331px) {
  .landing__container {
    /* min-height: 850px; */
    height: auto;
  }
  .landing__split {
    flex-direction: column;
    align-items: center;
  }
  .landing__container-margin {
    bottom: 0;
  }
  .landing__image {
    /* width: 400px; */
    /* width: ; */
    position: relative;
    border: solid;
    box-shadow: -3px 5px 3px 0 #0c0c0c;
    border-radius: 2%;
    top: 50px;
    padding: 0;
  }
  .landing__split {
    display: flex;
    justify-content: space-around;
  }
  .landing__left {
    width: auto;
    padding: 0;
  }
  .landing__buttons {
    top: 70px;
    width: 100%;
    left: 0px;
  }

  .landing__words {
    right: 0px;
    text-align: center;
    margin-bottom: 120px;
  }
  .landing_titles {
    font-size: 25px;
  }
  .landing__title-description {
    font-size: 15px;
  }
  .landing__margin {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .landing__right {
    width: 100%;
  }
  .landing__btn {
    width: 100px;
    font-size: small;
    font-weight: 300;
    padding: 5px;
  }

  .landing_titles {
    width: 100vw;
    font-size: 20px;
  }
  .landing__title-description {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .landing__image {
    /* width: 300px; */
    height: 300px;
    width: auto;
  }
}
@media (max-width: 350px) {
}

@media (max-height: 520px) {
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    @media (max-width: 1122px) {
    }
  }
}
