.social-impact__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-impact__banner {
  background-color: #00185a;
  height: 50px;
  color: white;
  text-align: center;
}
.social-impact__content-split {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0px;
}
.social-impact__left-one-third {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #0077d7;
  box-shadow: 2px 5px 3px 0px #0c0c0c;
  height: 400px;
  position: relative;
  /* top: 230px; */
  border: solid black;
  /* border: solid hsl(203, 100%, 43%); */
  color: black;
  padding: 10px;
  box-shadow: 2px 5px 3px 0 #0c0c0c;
  border-width: medium;
}
.social-impact__right-two-thirds {
  width: 60vw;
  /* position: relative;
  top: 10px; */
  /* background-color: cadetblue; */
}
.social-impact__footer__holder {
  position: relative;
  /* bottom: 150px; */
}

.social-impact__title {
  color: #3984cf;
  /* font-size: xx-large; */
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.social-impact__sub-title {
  color: #3984cf;
}
.social-impact__text {
  color: #3984cf;
  font-size: 22px;
}
.social-impact__text-link {
  color: #3984cf;
  font-size: 25px;
}

@media (max-width: 1100px) {
  .social-impact__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .social-impact__sub-title {
    font-size: 20px;
  }
  .social-impact__text {
    color: #3984cf;
    font-size: 18px;
  }
  .social-impact__text-link {
    color: #3984cf;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .social-impact__container {
    height: 850px;
  }
  .social-impact__content-split {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .social-impact__left-one-third {
    font-size: 15px;
    width: 80%;
    margin-bottom: 310px;
    height: 300px;
    position: relative;
    top: 100px;
  }
  .social-impact__footer__holder {
    position: relative;
    bottom: 10px;
    margin-bottom: -40px;
    text-align: -webkit-center;
  }
}

@media (max-width: 510px) {
  .social-impact__left-one-third {
    font-size: 10px;
  }
  .social-impact__footer__holder {
    /* width: 100vw; */
    text-align: -webkit-center;
  }
}

@media (max-width: 461px) {
  .snuge-up {
    position: relative;
    margin-bottom: 40px;
  }
}

@media (min-height: 1080px) {
  .social-impact__content-split {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
  }
  .social-impact__footer__holder {
    position: relative;
    bottom: 100px;
  }
  .impact-slider__image {
    height: 450px;
    position: relative;
    left: 20px;
    width: 800px;
  }
}

@media (max-height: 800px) {
  .social-impact__content-split {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
  }
}
@media (max-height: 655px) {
  .social-impact__left-one-third {
    height: 250px;
  }
}
