.leadership-card__container {
  height: 300px;
  width: 700px;
  border: solid black;
  border-width: thin;
  display: flex;
  flex-direction: column;
  text-align: center;
  contain: content;
  justify-content: space-between;
  box-shadow: 2px 5px 3px 0px #000;
  margin: 10px;
}
.leadership-card__title {
  background-color: #0077d7;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadership-card__subtitle {
  background-color: #0077d7;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.leadership-card__img {
  position: relative;
  width: 80%;
  /* bottom: 10px; */
}

@media (max-width: 700px) {
  .leadership-card__container {
    height: 300px;
    width: 300px;
    border: solid black;
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    contain: content;
    justify-content: space-between;
    box-shadow: 2px 5px 3px 0px #000;
    margin-bottom: 10px;
  }
  .leadership-card__img {
    bottom: 40px;
  }
}

@media (max-height: 661px) {
  .leadership-card__container {
    height: 300px;
    width: 300px;
    border: solid black;
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    contain: content;
    justify-content: space-between;
    box-shadow: 2px 5px 3px 0px #000;
    margin-bottom: 10px;
  }
}
