.App {
  text-align: center;
}

@media (max-width: 700px) {
  .title__banners {
    font-size: 25px;
    align-self: center;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 460px) {
  .title__banners {
    font-size: 15px;
    align-self: center;
    position: relative;
    top: 15px;

  }
}
@media (max-width: 350px) {
  .title__banners {
    top: 5px;
  }
}
